.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header:hover {
    background-color: rgba(0, 0, 0, .8);
}

.logo {
    float: left;
    width: 78px;
    height: 65px;
    background: url(../images/xl-logo2x.png) no-repeat center center/78px 37px;
}

nav {
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a {
    position: relative;
    display: block;
    height: 62px;
    line-height: 63px;
    padding: 0 10px;
    margin-left: 34px;
    font-size: 14px;
    color: #fff;
}

nav ul li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

nav ul li a:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.home {
    border-bottom: 2px solid #fff;
}

.banner {
    height: 648px;
    background-color: #080325;
    overflow: hidden;
}

.earth_container {
    padding-top: 81px;
    zoom: 0.6;
}

.earth {
    position: relative;
    width: 730px;
    height: 730px;
    background: url(../images/earth01.png) no-repeat 0 0/contain;
    margin: 0 auto;
}

.earth::before,
.earth::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
}

.earth::before {
    width: 719px;
    height: 719px;
    background: url(../images/spr_bannerPathway.png) no-repeat -2435px 0;
    -webkit-animation: grid_rotate 30s linear infinite;
    animation: grid_rotate 30s linear infinite;
}

@keyframes grid_rotate {
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.earth::after {
    width: 650px;
    height: 650px;
    background: url(../images/spr_bannerPathway.png) no-repeat -2435px -734px;
    -webkit-animation: arc_rotate 3s linear infinite;
    animation: arc_rotate 3s linear infinite;
}

@keyframes arc_rotate {
    to {
        -webkit-transform: translate(-50%, -50%) rotate(-360deg);
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}